name: Update latest tag
on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run latest-tag
        uses: EndBug/latest-tag@v1
